.wrapper {
  display: flex;
  position: relative;
  scroll-snap-align: start;
}
.wrapper .inner {
  display: flex;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1000px;
  height: 100%;
}
.title {
  position: absolute;
  top: 15%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 400px;
  font-size: 6rem;
}

.descArea {
  position: absolute;
  left: 25%;
  bottom: 25%;
  transform: translateX(-50%);
}

.cardList {
  display: flex;
  overflow: auto;
  scroll-snap-type: x mandatory;
  width: 800px;
  margin: auto;
  padding: 0 78px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.cardList::-webkit-scrollbar {
  display: none;
}

.card {
  display: flex;
  flex-shrink: 0;
  position: relative;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}
.card:not(:last-child) {
  border-right: 2px solid lightgray;
}
.desc {
  position: absolute;
  top: 0;
  width: 650px;
  font-size: 1.8rem;
  line-height: 1.3;
}
.desc h1 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
}
.use {
  font-size: 1.5rem;
}
.cardInner {
  margin: auto;
}
.thumb {
  padding: 0 10px;
}
.thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  aspect-ratio: 652/347;
}

@media screen and (min-width: 600px) {
  .sp-only {
    display: none;
  }
}
@media screen and (max-width: 599px) {
  .wrapper {
    overflow: hidden;
  }
  .title {
    top: 25%;
    left: 0;
    transform: translateY(-50%);
    width: 100vw;
    padding: 0 0.5rem;
    font-size: 4.5rem;
  }
  .wrapper:last-of-type .title {
    top: 0;
    transform: none;
  }
  .wrapper:last-of-type .inner {
    margin: 0;
  }
  .descArea {
    left: 0;
    bottom: 30%;
    transform: none;
  }
  .wrapper .inner {
    display: flex;
    position: relative;
    left: auto;
    transform: none;
    width: 100%;
    max-width: 100vw;
    height: 100%;
  }
  .cardList {
    padding: 0 3rem;
  }
  .desc {
    width: 100vw;
    padding: 0 0.5rem;
    line-height: 1.5;
    font-size: 1.65rem;
  }
  .use {
    font-size: 1.3rem;
  }
  .pc-only {
    display: none;
  }
}
